<!-- Hero Section -->
<div class="hero-section">
  <div class="hero-content">
    <h1>ما الخدمة التي تبحث عنها؟</h1>
    <p>أنجز أعمالك بسهولة وأمان بأسعار بسيطة</p>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="search-bar" dir="rtl">
        <input type="text" formControlName="name" placeholder="" />
        <button type="submit">بحث</button>
      </div>
    </form>
    <!-- <div class="tags">
          <div class="tag">كلمات شائعة</div>
          <div class="tag">استشارات تسويقية</div>
          <div class="tag">هوية بصرية</div>
          <div class="tag">ووردبريس</div>
          <div class="tag">تصميم داخلي</div>
      </div> -->
  </div>
</div>
