<div class="profile-container">
    <div class="profile-header">
        <div class="profile-picture">
            <img [src]="this.user?.image?.imageUrl" alt="Profile Picture">
          </div>
                  <div class="profile-info">


            <div class="profile-info">
                <h2>
                    <span class="online-status">•</span>
{{this.user?.fname}} {{this.user?.lname}}
                </h2>

            </div>

        </div>
    </div>

    <div class="tabs">
        <button class="edit-button" routerLink="/user-edit">تعديل الملف الشخصي</button>
        <div class="tab-container">
        @if(this.user?.role == "Seller"){

            <button class="tab" routerLink="/service/myservices">الخدمات</button>
        }
        <button class="tab active">الملف الشخصي</button>
    </div>
    </div>

</div>
