<section id="about" class="py-10 bg-gray-100">
  <div class="max-w-6xl mx-auto py-10 text-center px-4 sm:px-6 lg:px-8">
    <h2 class="text-2xl sm:text-3xl lg:text-4xl mb-10">
      ليه وضبها خيارك الأفضل لتطوير منزلك
    </h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-5">
      <div class="bg-white p-5 rounded-lg shadow">
        <div class="text-4xl mb-5">🕒</div>
        <h3 class="text-lg sm:text-xl mb-2">خدمة عملاء على مدار الساعة</h3>
        <p class="text-sm text-gray-500">
          فريق محترف للرد على الاستفسارات وحل المشكلات في أسرع وقت
        </p>
      </div>
      <div class="bg-white p-5 rounded-lg shadow">
        <div class="text-4xl mb-5">💲</div>
        <h3 class="text-lg sm:text-xl mb-2">أسعار اقتصادية</h3>
        <p class="text-sm text-gray-500">خدمات ذات جودة عالية بأسعار مناسبه</p>
      </div>
      <div class="bg-white p-5 rounded-lg shadow">
        <div class="text-4xl mb-5">📊</div>
        <h3 class="text-lg sm:text-xl mb-2">أكثر من 50 تصنيف</h3>
        <p class="text-sm text-gray-500">
          تصنيف تقدم آلاف الخدمات في كافة المجالات
        </p>
      </div>
      <div class="bg-white p-5 rounded-lg shadow">
        <div class="text-4xl mb-5">🛡️</div>
        <h3 class="text-lg sm:text-xl mb-2">ضمان الحقوق</h3>
        <p class="text-sm text-gray-500">
          يضمن وضبها حقوقك المالية واستلامك العمل كاملاً وفق ما يعرضه البائع
        </p>
      </div>
      <div class="bg-white p-5 rounded-lg shadow">
        <div class="text-4xl mb-5">🔒</div>
        <h3 class="text-lg sm:text-xl mb-2">تعاملات آمنة وموثوقة</h3>
        <p class="text-sm text-gray-500">
          يوثق مقدمي الخدمات هويتهم لتعاملات آمنة ووجيدة
        </p>
      </div>
      <div class="bg-white p-5 rounded-lg shadow">
        <div class="text-4xl mb-5">🌟</div>
        <h3 class="text-lg sm:text-xl mb-2">مقدمو خدمات محترفون</h3>
        <p class="text-sm text-gray-500">
          ملفات شخصية تبرز خدمات البائعين وتقييماتهم السابقة
        </p>
      </div>
    </div>
  </div>
</section>
