<header class="flex flex-wrap justify-between items-center p-2 bg-[#fff] text-[#444] shadow-md">
  <div class="flex flex-wrap items-center space-x-4">
    <div routerLink="/login" class="el cursor-pointer flex items-center space-x-2 border border-gray-300 rounded-lg px-2 py-1 mb-2 sm:mb-0">
      <a class="text-[#444]">تسجيل الدخول</a>
      <i class="fas fa-sign-in-alt text-white"></i>
    </div>

    <div routerLink="/signup" class="cursor-pointer text-center el  text-[#fff] flex items-center space-x-2 border border-gray-300 rounded-lg px-2 py-1 mb-2 sm:mb-0">
      <a class="">حساب جديد</a>
      <i class="fas fa-user-plus"></i>
    </div>

    <div class="flex items-center space-x-3 ">
      <i class="fas fa-search text-[#444]"></i>
      <input type="search" class="text-right border rounded px-2 py-1 text-gray-700" placeholder=".... ابحث عن ">
    </div>
  </div>

  <div class="flex items-center justify-center mt-2 sm:mt-0 sm:ml-auto">
    <img src="assets/logo.png" alt="logo" class="w-24">
  </div>
</header>
